.modal {
  @apply px-8 pb-8;
}
.wrapper {
  @apply bg-n8 p-6 rounded-lg;
}
.header {
  @apply mb-6 flex items-center gap-2;
}
.title {
  @apply text-sm font-medium;
}
.table {
  @apply pt-5 flex flex-wrap gap-y-4;
}
.item {
  @apply flex flex-col items-start;
  flex: 1 1 calc(100% / 3);
}
.item:nth-child(3n + 3) {
  flex: 1 1 10%;
}
.name {
  @apply text-sm text-n3;
}
.value {
  @apply text-sm;
}
.footer {
    @apply flex items-center gap-6 mt-8;
}
.footer > * {
    flex: 1;
}
