.wrapper {
  @apply flex flex-col;
}
.label {
  @apply font-medium text-sm mb-3;
}
.input {
  @apply bg-n11
    rounded-lg
    outline-none
    text-sm
    text-n0
    border-2
    transition-colors
    pl-3
    pr-14
    w-full
    placeholder:text-n2
    placeholder:text-sm
    border-n11
    hover:bg-n10
    hover:border-n10
    focus:border-p2;
  height: 40px;
}

.input.light {
  @apply bg-n8 border-n8;
}
.input.withPrefix {
  @apply pl-7;
}
.input.isSearchMode {
  @apply pl-9
}
.sublabel {
  @apply text-sm text-n3 italic inline-block ml-2;
}
.inputWrapper {
  @apply relative;
}
.prefix {
  @apply text-sm
  text-n0
  absolute
  left-4;
  top: 10px;
}
.sufix {
  @apply text-sm
  text-n2
  absolute
  right-3;
  top: 10px;
}
.search {
  @apply text-n3 absolute left-2;
  top: 7px;
}
