.toggle {
  @apply flex items-center cursor-pointer relative;
}
.box {
  @apply bg-n3 w-10 rounded-full border border-n3 transition-colors;
  height: 18px;
}
.toggle:hover .box {
  @apply bg-switchHover;
}
.box:after {
  content: "";
  @apply absolute top-0.5 left-0.5 rounded-full transition;
  background: #d9d9e3;
  width: 14px;
  height: 14px;
}
.input {
  @apply sr-only;
}
.input:focus + .box {
  @apply border-p1 !important;
}
.input:checked + .box:after {
  transform: translateX(160%);
  @apply bg-n0;
}

.input:checked + .box {
  @apply bg-p5 border-p5 hover:bg-switchCheckedHover;
}
.toggle:focus .box {
  @apply border-p1 !important;
}
